<?xml version="1.0" encoding="UTF-8" ?>
<configuration debug="true">

    <include resource="org/springframework/boot/logging/logback/defaults.xml" />
    <include resource="org/springframework/boot/logging/logback/console-appender.xml" />

    <if condition='isDefined("LOKI")'>
        <then>
            <appender name="LOKI" class="com.github.loki4j.logback.Loki4jAppender">
                <http>
                    <url>${LOKI}/loki/api/v1/push</url>
                </http>
                <format>
                    <label>
                        <pattern>app=test-app,host=${HOSTNAME},level=%level,trace_id=%X{trace_id:-none},span_id=%X{span_id:-none}</pattern>
                    </label>
                    <message>
                        <pattern>
                            {
                            "level":"%level",
                            "class":"%logger{36}",
                            "thread":"%thread",
                            "message": "%message",
                            "requestId": "%X{X-Request-ID}"
                            }
                        </pattern>
                    </message>
                    <sortByTime>true</sortByTime>
                </format>
                <batchMaxItems>10</batchMaxItems>
                <batchTimeoutMs>1000</batchTimeoutMs>
            </appender>

            <!-- Just wrap your logging appender, for example ConsoleAppender, with OpenTelemetryAppender -->
            <appender name="OTEL" class="io.opentelemetry.instrumentation.logback.mdc.v1_0.OpenTelemetryAppender">
                <appender-ref ref="LOKI"/>
            </appender>

            <root level="info">
                <appender-ref ref="CONSOLE"/>
                <appender-ref ref="OTEL"/>
            </root>
        </then>
        <else>
            <root level="info">
                <appender-ref ref="CONSOLE"/>
            </root>
        </else>
    </if>

</configuration>