lombok.anyConstructor.addConstructorProperties = true
lombok.addLombokGeneratedAnnotation = true
lombok.addNullAnnotations = jakarta

lombok.accessors.chain = true
lombok.accessors.fluent = false

#Log name customization
lombok.log.fieldName = LOG

lombok.copyableAnnotations += com.github.rusichpt.MyAnnotation1